.board-container table {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    /* border-collapse: separate; */
    border-spacing: 0px;
    user-select: none;
    border: 5px solid;
    border-color: #999 rgb(240, 240, 240) rgb(240, 240, 240) #999;
    font-family: 'Press Start 2P';
}

.cell {
    background-color: #ccc;
    border: 4px solid;
    border-color: rgb(250, 250, 250) #aaa #aaa rgb(250, 250, 250);
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}

/* Eventually, block "border: none" property when game is over */

.cell:active {
    border: none;
}

.clicked {
    background-color: #ccc;
    border: 1.5px solid;
    border-color: #777 #ccc #ccc #777;
    width: 30px;
    height: 30px;
    box-sizing: border-box
}

/* Numbers colors */

/* .num0 {
    color: transparent;
} */

.num1 {
    color: blue;
}

.num2 {
    color: green;
}

.num3 {
    color: red;
}

.num4 {
    color: navy;
}

.num5 {
    color: maroon;
}

.num6 {
    color: teal;
}

.num7 {
    color: black;
}

.num8 {
    color: gray;
}